version: '3.8'

services:
  web:
    build:
      context: .
      target: build
    command: npm run dev
    volumes:
      - .:/app
      - /app/generated/prisma_client
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
    env_file:
      - .env
