version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - prisma-network
    depends_on:
      - db
    env_file:
      - .env
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - prisma-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  prisma-network:
    name: prisma-network

volumes:
  postgres_data:
