version: '3.8'

services:
  web:
    build:
      context: .
      target: build
    command: npm run dev
    volumes:
      - .:/app
      - /app/generated
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
    networks:
      - prisma-network
    env_file:
      - .env

networks:
  prisma-network:
    name: prisma-network
